@import url('https://fonts.googleapis.com/css2?family=Sarpanch&family=Titillium+Web:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    color: rgb(22, 88, 163);
}

main h1 {
    text-align: center;
    padding: 20px;
    font-family: var(--font-family);
    color: rgb(22, 88, 163);;
}

main p {
    text-align: center;
    padding: 20px;
    font-family: var(--font-family);
    color: black;
    font-weight: 700;
    
}

.skill-img { 
    height: 200px; 
    width: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(91, 198, 212);
    background-color: white;
    transition: all 0.2s;
    }

.image-row {
display: flex;
justify-content: space-around;
}

.image-text {
text-align: center;
margin: 0 10px;
}