@import url('https://fonts.googleapis.com/css2?family=Sarpanch&family=Titillium+Web:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

main {
    text-align: center;
    padding: 20px;
    font-family: var(--font-family);
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

main h1 {
    text-align: center;
    padding: 20px;
    font-family: var(--font-family);
    color: black;
    font-size: 4rem;
    font-weight: 700;
}

main p {
    text-align: center;
    padding: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: black;
    font-weight: 700;   
    font-size: 1.5rem;
}



.clima__principal {
    display: grid;
    gap: 20px;
    padding: 20px;
    max-width: 1600px;
    width: 100%;
}