body, h1, p {
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado */
header {
    background-color: #401492;
    color: #fff;
    padding: 10px;
}

#logo img {
    max-width: 100px; 
}

#quienes-somos {
    padding: 20px;
}

#imagen-descriptiva img {
    max-width: 100%; /* La imagen se ajustará al ancho de su contenedor */
}

#video-descriptivo {
    margin-top: 20px;
}
#logo img {
    width: 100px; /* Establece el ancho deseado en píxeles */
    height: auto; /* El alto se ajustará automáticamente para mantener la proporción original */
}
#quienes-somos {
    text-align: center; /* Alinea el contenido al centro */
    padding: 20px; /* Espacio alrededor del contenido */
}

.content-wrapper {
    max-width: 800px; /* Ancho máximo del contenido para evitar que se estire demasiado */
    padding: 20px; /* Espacio alrededor del contenido */
}

#imagen-descriptiva img {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente */
}
@import url('https://fonts.googleapis.com/css2?family=Sarpanch&family=Titillium+Web:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}


main h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(22, 88, 163);;
}

main p {
    text-align: center;
    padding: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: black;
    font-weight: 700;
    
}


/*PARTE PRINCIPAL DE LA PAGINA*/
.servicios__principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1600px;
    width: 100%;
}

.iframe__servicios {
    height: 100%;
}

/*TARJETA DE FOTOS*/
.imagen__servicios,
.iframe__servicios {
width: 100%;
 /*border: 1px solid blue; borde imagen*/
border-radius: 5px;
box-shadow: 5px 5px 5px rgb(91, 198, 212); /*sombreado lado derecho*/
background-color: white;
/*tiempo que tarda en subir al hacer click*/
transition: all 0.2s;
}

/*QUE PASA SI HACES CLICK*/
.imagen__servicios:hover,
.iframe__servicios:hover {
    /*la imagen sube esa escala*/
    transform: scale(1.05);
}

.imagen__servicios > img,
.iframe__servicios > iframe {
    width: 100%;
}