html {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

video {
    max-width: 99%;
}

.contenedor-padre{     
    width: 99%; /*antes 100% // Recomendado por Germán*/
    height: auto; /*antes 500px*/  
    margin: 0 auto; /*Recomendación de Germán en materiales suplementarrios*/
    background-color: white;/*rgb(108, 152, 203);*/
    display: flex;

    /*eje principal */
    flex-direction:column; /*row*/
    
    /*alineo completo de los hijos en el eje principal*/
    justify-content: center;     /*center // space-around*/

    /*eje secundario: para alinear los hijos*/
    align-items:flex-start;

}
                        /*PASO 2: elegir color para caja caja / flex start queda arriba*/
.contenedor-hijo-1 {      
    background-color:white;  
    display: flex;          /*hay que poner flex al 1 para que los otros hijos hereden esa propiedad*/
    order: 1; 
   /* align-self: flex-start;*/
} 