@import url('https://fonts.googleapis.com/css2?family=Sarpanch&family=Titillium+Web:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

main h1 {
    text-align: center;
    padding: 20px;
    font-family: var(--font-family);
    color: var(--primary-color);
    font-size: 40px;
    margin-top: 80px;
}

main p {
    text-align: center;
    padding: 20px;
    font-family: var(--font-family);
    color: black;
    font-weight: 700;
    
}

.servicios__principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1600px;
    width: 100%;
}

.iframe__servicios {
    height: 100%;
}


.imagen__servicios,
.iframe__servicios {
width: 100%;
border-radius: 5px;
box-shadow: 5px 5px 5px var(--primary-color);
background-color: white;
transition: all 0.2s;
}

.imagen__servicios:hover,
.iframe__servicios:hover {
    transform: scale(1.05);
}

.imagen__servicios > img,
.iframe__servicios > iframe {
    width: 100%;
}

.imagen__servicios > h3 {
    color: var(--primary-color);
    text-align: center;
    font-size: 0.9rem; 
    padding: 5px 10px;
    background-color: white;
}


@media only screen and (min-width: 600px) {
    main {
    grid-template-columns: 1fr 1fr;
}}


@media only screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (min-width: 992px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


@media only screen and (min-width: 1200px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}