@import url('https://fonts.googleapis.com/css2?family=Sarpanch&family=Titillium+Web:wght@300&display=swap');

:root {
    --font-family: 'Titillium Web', sans-serif;
    --bg-color: linear-gradient(to right, #96d2e7, #0f33a0);
    --primary-color: rgb(85, 15, 15);
    --secondary-color:  rgb(91, 198, 212);
  }   